<a href="https://colab.research.google.com/github/nadiduno/linkColabGoogle/blob/main/gabaritoNadi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Gabaritos de Estudos em Python

##[Nadi Duno](https://www.linkedin.com/in/nadiduno/) - 2022

In [ ]:
# Signo de numeral, hashtag, cerquilha, cancela, antífen ou jogo da Velha "#"
#é para fazer comentarios 

#print() funão para imprimir ou mostrar em tela en pytthon

#Temos diversar formas de imprimir 
#Antes vamos definir variáveis e fazer um calculo simple de soma
a=2
b=3
sum=a+b
listNumber = list((1, 2, 3.5))
registration = True
name='Nadi'
nationality="Venezuelana"

#Para o texto (string) podes usar aspas simples '' ou duplas ""
#'Venezuelana' ou "Venezuelana" tanto faz

#Só texto
print('Hello World')

#Salto de linhea "\n"
print ('\n') 
print ('\nBora codar') 

#Só numeros
print(1 + 2)
print(a+b)  
print(listNumber)
print ('\n') 

#Texto com números
print('A soma é = ',1 + 2)
print('A soma é = ',a+b) 
print('A soma é = ',sum)  
print('A lista de número é = ',listNumber)

#Outra forma de imprimir concatenando com + quando é número convertir em string primeiro
print('Olá eu sou ' + name)
print('A soma é = ' + str(sum)) 
 
print ('\n') 

#Texto com valores de intercalados
print(name,'é',nationality)
print('A soma de',a, '+',b,'é',sum)

#Mais outras formas ;)
print(f'A soma é  {sum}')
print('A soma é {}'.format (sum))
print ('\n') 

#Texto com valores lógicos
print('A soma é 4?', sum == 4 )
print("Ela esta cadastrada? %s" %registration)

Hello World



Bora codar
3
5
[1, 2, 3.5]


A soma é =  3
A soma é =  5
A soma é =  5
A soma é = 5
A lista de número é =  [1, 2, 3.5]


Olá eu sou Nadi
Nadi é Venezuelana
A soma de 2 + 3 é 5


A soma é 4? False
Ela esta cadastrada? True

In [ ]:
#Para solicitar dados aou usuario usa a função input
number1=float(input('Inserte primer número: '))
print('O número é',number1)

Inserte primer número: 10
SO número é 10.0

In [ ]:
#lower converte a maiúsculo
d = ['nAdi', 'veneZuela', 'amoR']
for i in range(len(d)):
    d[i] = d[i].upper()
print(d)

['NADI', 'VENEZUELA', 'AMOR']

In [ ]:
#lower converte a minúsculo
#otra forma de escrever for
d = ['nAdi', 'veneZuela', 'amoR'] 
d = [x.lower() for x in d]
print(d)

['nadi', 'venezuela', 'amor']

In [ ]:
#map converter uma lista (para muitos dados, da rápidez) de strings em minúsculo em Python
d = ['nAdi', 'veneZuela', 'amoR']
d=map(lambda x: x.lower(), d)
d=map(lambda x: x.title(), d)
d=list(d)
print(d)

['Nadi', 'Venezuela', 'Amor']

In [ ]:
#title converte a primeira letra em maiúscula
#otra forma de escrever for
d = ['nAdi', 'veneZuela', 'amoR'] 
d = [x.lower() for x in d]
d = [x.title() for x in d] 
print(d)

['Nadi', 'Venezuela', 'Amor']

In [ ]:
#map converter uma lista (para muitos dados, da rápidez) de strings em minúsculas em Python
d = ['John Smith','Grace Ritchie','Random J. Patient','Dennis Doe','GUZMAN LIRA GLADYS MARGARITA','BELLO DE ALONSO TEOFILA','DAVID ZAPATA JOSEFINA','ALAVA DE MANZABA ESTHER ANDREA','LEAL JOSE AGUSTIN','REGALADO LOURDES','RODIL ARTEAGA NIEVES JOSEFINA','GARCIA JOSEFINA','PERAZA REINA COROMOTO','EVELIA RAVELO','DE ASCENSAO HOMEM LURDES','HERNANDEZ DE SORGE GLORIA ANGELICA','ESPINOZA BIORD AIDA REGINA','FERNANDEZ DE RONDON DOMITILA','LEIVA ONEIDA CATALINA','PEREZ RAMIREZ PEDRO ANTONIO','REYES BLANCO JOSE ENRIQUE','BADILLO CORTEZ GLADYS VICTORIA','SCOTT FERNANDEZ JULIO RAFAEL','BARBOSA JAIMES JULIO JOSE','SOLORZANO BLANCO HEDY DE LOURDES','CUBA LECA SEBASTIANA VICTORIA','CHANG ADAM HENRY VIVIAN','ECHEVERRIA BAYAS MARIA PIA','PALOMINO DE ROSAS JULIA GUILLERMINA','DIAZ DE DELGADO NELDA ROSA','MATALLANA DE SANTOS MIRTHA','KRAR DE ORTEGA ELISABETH','BAJO MANRIQUE MARIA DE LOURDES','BRICENO VIVAS IRIA DAMALIS','SUCRE MERCEDES','DRIKHA DE JESRI INAAM','VERA DE DAMBROSIO CARMEN ELISA','DASILVA GUZMAN MERCEDES GUILLERMINA','CASTRO DE LOPEZ ANGELA NOEMI','FALLO SANTONICOLA FILOMENA','DELGADO MONTILLA JUAN BAUTISTA','MU?OZ ROJAS MARTA YRAIDA','SUCRE VILLAMIZAR LEONOR COROMOTO','JAIMES NOEMI','GUERRA LISTA ANDRES EZEQUIEL','MARIÑO CECILIA','VERA ZAFRA MARTA','LEMUS SALAZAR MILAGROS AGUSTINA','LEMUS SALAZAR ZORAIDA ISABEL','GARCIA MARTINEZ ISABEL MARIA','HARRIS TORRES ELIZABETH JOSEFINA','PULIDO HERNANDEZ LUIS ALBERTO','BOVIO DE ORTIZ EMILIA MARIA','SCHIERA DE CASTILLO NANCY MIREYA','DA SILVA DE JESUS MARIA ANA','BARRIOS ARRIETA DIOSELINA','COLMENARES ANSELMO','GUTIERREZ GONZALEZ CANDELARIA','REMOLINA SERRANO FRANCELINA','OSORIO GALLEGO RUBIELA DE JESUS','PAEZ ELIZABETH','DORMOI DE RAMOS ROSA REBECA','REYES CEDE?O IDELMEINA','BLANCO DE NIGRO HILDA MAGALY','PADILLA PETRO FRANCISCO','CASTILLO GIL RAFAEL EUSEBIO','SAAVEDRA ESPERANZA','MONSANTO LILIAN','SEVERICHE DE DUARTE ELSA ISABEL','DEL CORRAL DE CORREA MARIA CELINA','HIDALGO SCARLET','GUTIERREZ NESTOR','GUEVARA NAVARRO NELLY ISABEL','VILLAMIZAR JOSE ALBERTO','TOVAR MARCO JOSE','VIERA CARMEN ROSA','LEAL HERNANDEZ RAMIRO','FONTANA ANTONIETA','ACOSTA REYES ANA AURORA','CANTILLO LOZADA GENOVEVA MARIA','ALVIR GONZALEZ MARIA AMANDA','HERNANDEZ BELTRAN MARTA BEATRIZ','PENATES MARGARITA','GUERRERO HERNANDEZ BLANCA ROSA','LOPEZ MENDOZA ANA BETULIA','ALVAREZ ALFONZO DOLORES','CARMEN BEATRIZ BETANCOURT DE ORTA','APONTE DE PINEDA ANA RAQUEL','MARQUEZ MENDOZA JANETT','RAMIREZ PORTILLA ESPERANZA','ENRIQUE ROJAS','CABALLERO FELIPE','FLORES YOLANDA','POSSE DE FERNANDEZ GRACIELA','PADILLA DAVID','CERVANTES DE CASTRO DENIS CENITH','DEL CORRAL OLIVIA','CASTRO MARCO','LOBO DE BAGGINI RAMONA ORAIDA','FERNANDEZ JUAN CARLOS']
d=map(lambda x: x.lower(), d)
d=map(lambda x: x.title(), d)
d=list(d)

print(d)

['John Smith', 'Grace Ritchie', 'Random J. Patient', 'Dennis Doe', 'Guzman Lira Gladys Margarita', 'Bello De Alonso Teofila', 'David Zapata Josefina', 'Alava De Manzaba Esther Andrea', 'Leal Jose Agustin', 'Regalado Lourdes', 'Rodil Arteaga Nieves Josefina', 'Garcia Josefina', 'Peraza Reina Coromoto', 'Evelia Ravelo', 'De Ascensao Homem Lurdes', 'Hernandez De Sorge Gloria Angelica', 'Espinoza Biord Aida Regina', 'Fernandez De Rondon Domitila', 'Leiva Oneida Catalina', 'Perez Ramirez Pedro Antonio', 'Reyes Blanco Jose Enrique', 'Badillo Cortez Gladys Victoria', 'Scott Fernandez Julio Rafael', 'Barbosa Jaimes Julio Jose', 'Solorzano Blanco Hedy De Lourdes', 'Cuba Leca Sebastiana Victoria', 'Chang Adam Henry Vivian', 'Echeverria Bayas Maria Pia', 'Palomino De Rosas Julia Guillermina', 'Diaz De Delgado Nelda Rosa', 'Matallana De Santos Mirtha', 'Krar De Ortega Elisabeth', 'Bajo Manrique Maria De Lourdes', 'Briceno Vivas Iria Damalis', 'Sucre Mercedes', 'Drikha De Jesri Inaam', 'Vera De Dambrosio Carmen Elisa', 'Dasilva Guzman Mercedes Guillermina', 'Castro De Lopez Angela Noemi', 'Fallo Santonicola Filomena', 'Delgado Montilla Juan Bautista', 'Mu?Oz Rojas Marta Yraida', 'Sucre Villamizar Leonor Coromoto', 'Jaimes Noemi', 'Guerra Lista Andres Ezequiel', 'Mariño Cecilia', 'Vera Zafra Marta', 'Lemus Salazar Milagros Agustina', 'Lemus Salazar Zoraida Isabel', 'Garcia Martinez Isabel Maria', 'Harris Torres Elizabeth Josefina', 'Pulido Hernandez Luis Alberto', 'Bovio De Ortiz Emilia Maria', 'Schiera De Castillo Nancy Mireya', 'Da Silva De Jesus Maria Ana', 'Barrios Arrieta Dioselina', 'Colmenares Anselmo', 'Gutierrez Gonzalez Candelaria', 'Remolina Serrano Francelina', 'Osorio Gallego Rubiela De Jesus', 'Paez Elizabeth', 'Dormoi De Ramos Rosa Rebeca', 'Reyes Cede?O Idelmeina', 'Blanco De Nigro Hilda Magaly', 'Padilla Petro Francisco', 'Castillo Gil Rafael Eusebio', 'Saavedra Esperanza', 'Monsanto Lilian', 'Severiche De Duarte Elsa Isabel', 'Del Corral De Correa Maria Celina', 'Hidalgo Scarlet', 'Gutierrez Nestor', 'Guevara Navarro Nelly Isabel', 'Villamizar Jose Alberto', 'Tovar Marco Jose', 'Viera Carmen Rosa', 'Leal Hernandez Ramiro', 'Fontana Antonieta', 'Acosta Reyes Ana Aurora', 'Cantillo Lozada Genoveva Maria', 'Alvir Gonzalez Maria Amanda', 'Hernandez Beltran Marta Beatriz', 'Penates Margarita', 'Guerrero Hernandez Blanca Rosa', 'Lopez Mendoza Ana Betulia', 'Alvarez Alfonzo Dolores', 'Carmen Beatriz Betancourt De Orta', 'Aponte De Pineda Ana Raquel', 'Marquez Mendoza Janett', 'Ramirez Portilla Esperanza', 'Enrique Rojas', 'Caballero Felipe', 'Flores Yolanda', 'Posse De Fernandez Graciela', 'Padilla David', 'Cervantes De Castro Denis Cenith', 'Del Corral Olivia', 'Castro Marco', 'Lobo De Baggini Ramona Oraida', 'Fernandez Juan Carlos']

In [ ]:
#title converte a maiúsculo a primiera letra de cada palavra
#lower converte a minúsculo

#Titulos maiúsculos a minúsculos com a primiera letra em Maiúsculo
meTitle = "TRANSFORMATIVE POTENTIAL AND BIOGRAPHICAL LEGACY OF THE COMMUNITY-ENGAGED LEARNING IN HIGHER EDUCATION."
meTitle = meTitle[0:1].title() + meTitle[1:].lower()
print(meTitle)

Transformative potential and biographical legacy of the community-engaged learning in higher education.

In [ ]:
#Usando Continue e Break em um array de Frutas
fruits=['Banana','Apple','Bad','Pineapple','Strawberry','Grape']
fruits

['Banana', 'Apple', 'Bad', 'Pineapple', 'Strawberry', 'Grape']

In [ ]:
#Continue: Pula sentencia e continua el ciclo
for fruit in fruits:
  if fruit == 'Bad':
    continue
  print(fruit)

Banana
Apple
Pineapple
Strawberry
Grape

In [ ]:
#Continue: Rompe el ciclo
for fruit in fruits:
  if fruit == 'Bad':
    break
  print(fruit)

Banana
Apple

In [ ]:
#Concatenando uma data com campos diferentes
x=1
y=2
z=2022
str(x)+str('/')+str(y)+str('/')+str(z)

'1/2/2022'

In [ ]:
#Mostarndo as segundas do mês de janeiro 2022 usando for
for i in range(1,32):
  if i==3 or i==10 or i==17 or i==24 or i==31:
    print(i)

3
10
17
24
31

In [ ]:
#Gerar 10 números aleatorios, números que podem ir desde o 0 até 1400
import numpy as np
for elemento in range(0,10):
  num=np.random.randint(0,1400)
  print(num)

795
711
769
1053
1277
881
1267
43
1244
931

In [ ]:
import math
#Raiz quadrada de 9
raiz = math.sqrt(9)
print(raiz)
raiz2 = math.pow(9, 1/2)
print(raiz2)

3.0
3.0

In [ ]:
#Funçao len para contar a longitud do string
nome="Nadi Duno"
len(nome)

9

#Exercicio con função

Faça um programa em Python que peça ao usuário três números inteiros. Seu programa deverá passar para uma função os três números (na ordem que foram inseridos pelo usuário) e, então, a função deve imprimir o resultado da soma entre o segundo número e o resultado da multiplicação entre o primeiro e último número inseridos. Use como entrada os valores (nessa ordem): 177, 351 e 95.

In [ ]:
#Definiendo a função 
def calculateSum(number1,number2,number3):
  calc=(number2)+(number1*number3)
  print('O resultado é', calc)

#Solicitando as dados
number1=float(input('Inserte 1er número: '))
number2=float(input('Inserte 2do número: '))
number3=float(input('Inserte 3er número: '))
#Chamando a função
calculateSum(number1,number2,number3)

Inserte 1er número: 177
Inserte 2do número: 351
Inserte 3er número: 95
O resultado é 17166.0

#Exercicio

De acordo com a fórmula da equação de segundo grau abaixo. Faça uma função que calcule e imprima os resultados de uma equação de segundo grau. Para que seu código fique organizado, faça uma função extra que calcule o Delta () em seprado. 
2x2 + 8x => x1=0 x2=-4
Utilize os seguintes valores como entrada: a = 2, b = 8, c = 0
Utilize os seguintes valores como entrada: a = 88, b = 4, c = 16

In [ ]:
import math
print('Ecuação de 2do grado')
a=float(input('Valor de a: '))
b=float(input('Valor de b: '))
c=float(input('Valor de c: '))
d=(b**2)-(4*a*c)
#print('discriminante',d)
x1=(-b+math.pow(d, 1/2))/(2*a)
x2=(-b-math.pow(d, 1/2))/(2*a)

print('X1=',x1)
print('X2=',x2)

Ecuação de 2do grado
Valor de a: 2
Valor de b: 8
Valor de c: 0
discriminante 64.0
X1= 0.0
X2= -4.0

#Exercicio de Desafio 

Escreva uma função em python que lê dois números inteiros (a,b) e gere como resultado as seguintes operações:adição, subtração, multiplicação e divisão. Execute a funçao na celula abaixo

##Womakerscode

In [ ]:
##### ESCREVER A FUNÇAO ABAIXO
def operations(a,b):
  #### Escrever abaixo
  print('A adição é = ',a+b)
  print('A subtração é = ',a-b)
  print('A multiplicação é = ',a*b)
  if (b==0.0): print('A divisão entre zero é impossível')
  else : print('A divisão é = ',a/b)

In [ ]:
#### RODAR A FUNÇAO
print('A calculadora')
a=float(input('Inserte primer número: '))
b=float(input('Inserte segundo número: '))
operations(a,b)

A calculadora
Inserte primer número: 20
Inserte segundo número: 0
A adição é =  20.0
A subtração é =  20.0
A multiplicação é =  0.0
A divisão entre zero é impossível

#Simulando Dados para o desafio
## Nova seção

In [ ]:
#Definir a Matriz
dados = []
#append para adicionar dados na matriz usando a virgula "," como separador de elementos
dados.append("2002,11,,,11,1,09,5,1,11,02".split(","))
dados.append("2003,11,,,11,1,09,5,1,11,02".split(","))
#usando o trazo "-" com separador de elementos
dados.append("2001-11---11-1-09-5-1-11-02".split("-"))
#mostrando a matriz
print(dados)
#Compleantado nos espaços vazios com 99
#Definiendo a função
def completar_dados(dados):
  for index, value in enumerate(dados):
    if value == "":
      dados[index] = '99'
  return dados
#chamando a funçaõ
for elemento in dados:
  if isinstance(elemento, list): 
    completar_dados(elemento)
print('\brCompleantado nos espaços vazios com 99')
print(dados)

[['2002', '11', '', '', '11', '1', '09', '5', '1', '11', '02'], ['2003', '11', '', '', '11', '1', '09', '5', '1', '11', '02'], ['2001', '11', '', '', '11', '1', '09', '5', '1', '11', '02']]
r Compleantado nos espaços vazios com 99
[['2002', '11', '99', '99', '11', '1', '09', '5', '1', '11', '02'], ['2003', '11', '99', '99', '11', '1', '09', '5', '1', '11', '02'], ['2001', '11', '99', '99', '11', '1', '09', '5', '1', '11', '02']]

In [ ]:
dados = [] 
dados.append("1,,,,01".split(",")) 
dados.append("2,,,1,".split(",")) 
dados.append("3,,1,1,".split(",")) 
dados.append("4,,1,,".split(","))
print(dados)
def completar_dados(dados):
  for index, value in enumerate(dados):
    if value == "":
      dados[index] = '99'
  return dados
for elemento in dados:
  if isinstance(elemento, list): 
    completar_dados(elemento)
print(dados)

[['1', '', '', '', '01'], ['2', '', '', '1', ''], ['3', '', '1', '1', ''], ['4', '', '1', '', '']]
[['1', '99', '99', '99', '01'], ['2', '99', '99', '1', '99'], ['3', '99', '1', '1', '99'], ['4', '99', '1', '99', '99']]